// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.sass

$primary: #111111;
$secondary: #7f7f7f;
$accent: #333333;

$dark: #1d1d1d;
$dark-page: #ffffff;
$bg-card: #dddddd;
$field: #111111;
$field-highlighted: #000000;

$positive  : #cdcdcd;
$negative  : #7f7f7f;
$info      : #b2b2b2;
$warning   : #4c4c4c;


$session: #00b3c866;
$legacy: #acacac;
$adventure: #3c70a466;
$fate: #6b52ec66;
$combat: #bbbbbb;
$suffer: #cccccc;
$exploration: #dddddd;
$connection: #eeeeee;
$threshold: #e1e1e1;
$quest: #aaaaaa;
$recover: #179f0e66;
$scene: #3a046a66;

$star: #6d72a4ff;
$planet: #7368b0ff;
$settlement: #9d5a9fff;
$ship: #ad6398ff;
$person: #9e708fff;
$creature: #3c8ab5ff;
$derelict: #427a99ff;
$vault: #427074ff;
$sighting: #25827eff;
$placeholder: #111111;
